.container {
    padding: 0 1rem;
    margin: 0 auto 6rem;
}

.navbar {
    background-color: transparent;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1.5% 2%;
    z-index: 100;
}
  